@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400 500;
  src: url("/assets/fonts/DMSans-VariableFont_opsz\,wght.ttf");
}

/* @font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400 500;
  src: url("/assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf");
} */

/* color scheme */

:root {
  --off-white: hsl(260, 12%, 95%);
  --Purple-100: hsl(254, 88%, 90%);
  --Purple-500: hsl(256, 67%, 59%);

  --Yellow-100: hsl(31, 66%, 93%);
  --Yellow-500: hsl(39, 100%, 71%);

  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);

  /* font weights */
  --fw-normal: 400;
  --fw-bold: 500;

  /* font sizes */
  --fs-xxs: 0.75rem; /* 12px */
  --fs-xs: 0.875rem; /* 14px */
  --fs-sm: 1rem; /* 16px */
  --fs-base: 1.75rem; /* 18px */
  --fs-md: 2.5rem; /* 20px */
  --fs-lg: 4rem; /* 20px */
  --fs-xl: 4rem; /* 24px */

  /* font-family */
  --ff-base: "DM Sans", sans-serif;

  /* border radius */
  --border-radius: 1rem;
  --border-radius-lg: 5rem;
  @media (width > 960px) {
    --fs-base: 1.25rem !important;
    --fs-md: 2.2rem !important;
    --fs-xl: 3rem !important;
  }
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  h1 {
    font-size: var(--fs-xl) !important;
  }
  h1,
  h2,
  strong {
    line-height: 1;
    font-weight: var(--fw-bold);
    font-size: var(--bento-heading-font-size, var(--fs-md));
    span {
      color: var(--bento-heading-span-color, var(--Yellow-500));
      display: var(--bento-heading-span-display, inline);
      font-size: var(--bento-heading-span-font-size, inherit);
    }
  }
  /* h2{
    font-size: var(--fs-lg);
  } */
  /* Remove list styles  on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }

  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }

  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
}

@layer base {
  /* Set core root defaults */
  html {
    line-height: 1.1;
    font-family: var(--ff-base);
    &:focus-within {
      scroll-behavior: smooth;
    }
  }

  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  /* Set core body defaults */
  body {
    min-height: 100vh;
    display: grid;
    gap: 2rem;
    place-items: center;
    font-size: var(--fs-base);
    background: var(--off-white);
    text-wrap: balance;
    margin: 32px;
  }
}

@layer utilities {
  /* Utility classes for text colors */
  .visually-first {
    order: -1;
  }
}

@layer layout {
  /* .grid-col-span-2 {
    @media (width >= 1440px) {
      grid-column: grid-col-span-2;
    }
    grid-column: span 2;
  } */
  .bento-grid {
    display: grid;
    max-inline-size: 1200px;
    margin-inline: auto;
    grid-auto-columns: 1fr;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      "six"
      "seven"
      "eight";
    gap: 1rem;
    @media (width >= 660px) {
      grid-template-areas:
        "one one"
        "four three"
        "four two "
        "five seven"
        "five seven"
        "eight six ";
    }
    @media (width >= 960px) {
      grid-template-areas:
        "seven one one four"
        "seven two three four"
        "eight two three four"
        "eight six five five";
    }
  }
  .bento-grid > * {
    background-color: var(--bento-bg-color, var(--White));
    padding: var(--bento-padding, 1.5rem);
    border-radius: var(--bento-border-radius, var(--border-radius));
    color: var(--bento-text-color, var(--Black));
    display: grid;
    /* checkout how to use this properly */
    align-items: var(--bento-align-vertical, start);
    align-content: var(--bento-align-vertical, start);
    justify-items: var(--bento-align-horizontal, start);
    gap: var(--bento-gap, 1rem);
    text-align: var(--bento-align-horizontal, start);
    overflow: clip;
  }
  .bento-grid img {
    max-width: var(--bento-img-width, 100%);
    width: var(--bento-img-width, 100%);
    height: var(--bento-img-height, auto);
    order: var(--bento-img-order);
  }
  .bento-grid > :nth-child(1) {
    grid-area: one;
    --bento-bg-color: var(--Purple-500);
    --bento-text-color: var(--White);
    --bento-padding: 2rem;
    --bento-heading-color: var(--Yellow-500);
    --bento-align-vertical: center;
    --bento-align-horizontal: center;
    --bento-img-width: 70%;
    @media (width > 960px) {
      --bento-img-width: 40%;
    }

    text-align: var(--bento-align-horizontal, start);
  }
  .bento-grid > :nth-child(2) {
    grid-area: two;

    --bento-img-order: -1;
    /* search how to use different foter options & also diff btwn drop and box shadow*/

    > img {
      filter: drop-shadow(0 0 1rem hsla(0, 0%, 0%, 0.125));
      border-radius: var(--bento-border-radius, 5rem);
      @media (width > 960px) {
        --bento-img-width: 140%;
        --bento-align-vertical: center;
      }
    }
  }
  .bento-grid > :nth-child(3) {
    grid-area: three;
    --bento-bg-color: var(--Yellow-500);
    --bento-img-width: 75%;
    --bento-align-vertical: center;
    /* --bento-align-horizontal: center; */
    img {
      margin-bottom: -55px;
      @media (width > 960px) {
        --bento-img-width: 100%;
        margin-bottom: -100px !important;
      }
    }
  }

  .bento-grid > :nth-child(4) {
    grid-area: four;
    --bento-bg-color: var(--Purple-100);
    --bento-align-vertical: center;
    /* --bento-align-horizontal: center; */
    @media (width > 960px) {
      --bento-img-width: 120%;
    }
  }

  .bento-grid > :nth-child(5) {
    grid-area: five;
    --bento-bg-color: var(--Purple-500);
    color: var(--White);
    --bento-img-order: -1;
    --bento-paddding: 3rem;
    --bento-align-vertical: center;
    --bento-align-horizontal: center;
    --bento-img-width: 60%;
    @media (width > 960px) {
      --bento-img-width: 100%;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  }
  .bento-grid > :nth-child(6) {
    grid-area: six;
    --bento-heading-span-display: block;
    --bento-heading-span-color: var(--Black);
    --bento-heading-font-size: var(--fs-xl);
    --bento-heading-span-font-size: var(--fs-base);
    --bento-img-width: 65%;
    @media (width > 960px) {
      --bento-align-vertical: center;
      gap: 2rem;
      --bento-padding: 1rem;
      --bento-heading-font-size: var(--fs-lg);
      --bento-img-width: 100%;
    }
  }
  .bento-grid > :nth-child(7) {
    grid-area: seven;
    --bento-bg-color: var(--Yellow-100);
    --bento-img-width: 60%;
    --bento-heading-span-color: var(--Purple-500);
    @media (width > 960px) {
      --bento-img-width: 100%;
      --bento-align-vertical: center;
    }
  }
  .bento-grid > :nth-child(8) {
    grid-area: eight;
    --bento-bg-color: var(--Yellow-500);
    --bento-img-width: 60%;
    @media (width > 960px) {
      --bento-align-vertical: center;
      --bento-img-width: 110%;
    }
  }
}
