@use "../util" as u;

/* dm-sans-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/dm-sans-v16-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/dm-sans-v16-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/dm-sans-v16-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/dm-sans-v16-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/dm-sans-v16-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/dm-sans-v16-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

h1,
.ten_x {
  // font-size: var(--fs-xl) ;
  @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(36), u.rem(48));
}

.five_six {
  strong {
    @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(36), u.rem(48));
  }
}
h2 {
  // font-size: var(--fs-xl) ;
  @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(28), u.rem(36));
  em {
    @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(28), u.rem(36));
  }
}
p,
span {
  @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(16), u.rem(20));
}

h1,
h2,
strong {
  line-height: 1;
  font-weight: var(--fw-bold);
  span {
    color: var(--bento-heading-span-color, var(--Yellow-500));
    display: var(--bento-heading-span-display, inline);
  }
}
