@use "../util" as u;

@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900; // full range
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/DMSans-Italic-VariableFont_opsz.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

h1,
.ten_x {
  // font-size: var(--fs-xl) ;
  @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(36), u.rem(48));
}

.five_six {
  strong {
    @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(36), u.rem(48));
  }
}
h2 {
  // font-size: var(--fs-xl) ;
  @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(28), u.rem(36));
  em {
    @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(28), u.rem(36));
  }
}
p,
span {
  @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(16), u.rem(20));
}

h1,
h2,
strong {
  line-height: 1;
  font-weight: var(--fw-bold);
  span {
    color: var(--bento-heading-span-color, var(--Yellow-500));
    display: var(--bento-heading-span-display, inline);
  }
}
