:root {
  --off-white: hsl(260, 12%, 95%);
  --Purple-100: hsl(254, 88%, 90%);
  --Purple-500: hsl(256, 67%, 59%);

  --Yellow-100: hsl(31, 66%, 93%);
  --Yellow-500: hsl(39, 100%, 71%);

  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);

  /* font weights */
  --fw-normal: 400;
  --fw-bold: 500;


  /* font-family */
  --ff-base: "DM Sans", sans-serif;

  /* border radius */
  --border-radius: 1rem;
  --border-radius-lg: 5rem;
}
